<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="settings.xsd">

	<folders target="src" sql="sqldalmaker/sql" />

	<dto scope="sdm.thesaurus.dto" inheritance=""
		 field-names-mode="1" single-file=""/>

	<dao scope="sdm.thesaurus.dao" />

	<external-vm-file path="" />

	<ide event-log="true" />

	<cpp class-prefix="" />

	<jdbc jar="lib/sqlite-jdbc-3.19.3.jar" class="org.sqlite.JDBC"
		url="jdbc:sqlite:$PROJECT_DIR$/thesaurus.sqlite" user="" pwd="" />

	<type-map default="">
	</type-map>

</settings>